body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ff0010;
}



#wordDisplay {
    color: blue; /* Change to your preferred color */
    font-size: 40px; /* Adjust the size as needed */
    text-align: center; /* Center text horizontally */
    height: 100vh; /* Take full height of the viewport */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}


#translationDisplay {
    color: blue; /* Change to your preferred color */
    font-size: 40px; /* Adjust the size as needed */
    text-align: center; /* Center text horizontally */
    height: 100vh; /* Take full height of the viewport */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

